    /*******************
    * global
    *******************/
    
      html,body{
        margin:0; 
        padding:0;
      }

      p,
      a,
      li,
      h1,
      h2,
      h3,
      h4,
      h5,
      button,
      input{
        font-family: Helvetica,"Georgia", Arial, sans-serif;
        margin:0;
      }

      a:-webkit-any-link {
        text-decoration: none;
        cursor: auto;
      }

      button{
        border:none;
      }

      .contentContainer{
        width:100%;
      }

      .center{
        text-align:center;
      }

      .submit{
        margin-top:10%;
      }


      .marginBottom{
        margin-bottom:10%;
      }

      #gotop{
        display: none;
        position: fixed;
        right: 20px;
        bottom: 20px;    
        padding: 10px 15px;    
        font-size: 20px;
        background: #ED2A67;
        color: white;
        cursor: pointer;
        border-radius:5px;
        z-index:1000;
      }

      /******************* 
       * navbar
       *******************/


      .navbar{
        border-bottom:1px solid #111111;
      }

      .navbar-default{
        background-color:#1E1E1E;
      }

      .navbar-brand{
        font-size:1.5em;
        text-align:center;
      }

      #navlogo{
        padding-top:10px;
      }

      #navlogo img{
        width:50%;
      }

      /******************* 
      * wrap1 
      *******************/

      #goResearchers{
        height:100%;
        padding:0;
        background: url('../img/goResearchers.jpg');
        float:left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .mask{
         float: left;
         border-radius:0%;
         box-shadow: inset 0 0 1px 1000px rgba(0,0,0,0.6);
         transition: all 0s linear;
         transition: box-shadow 0ms linear;
         -webkit-border-radius:0%;
         -webkit-box-shadow: inset 0 0 1px 1000px rgba(0,0,0,0.6);
         -webkit-transition: box-shadow 0ms linear;
         -moz-border-radius:0%;
         -moz-box-shadow: inset 0 0 1px 1000px rgba(0,0,0,0.6);
         -moz-transition: box-shadow 0ms linear;
         -o-transition: box-shadow 0ms linear;
         -ms-transition: box-shadow 0ms linear;
            }
    .mask:hover {
          opacity: 1;
          -webkit-transition: all 0s linear;
          -moz-transition: all 0s linear;
          -o-transition: all 0s linear;
          transition: all 0s linear;
          box-shadow: inset 0 0 0 0 rgba(0,0,0,0.6), 0 0 10px rgba(0,0,0,0.3);
                          }

      #goBusiness{
        height:100%;
        padding:0;
        background: url('../img/goBusiness.jpg');
        float:left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .row{
        height:100%;
      }


      .topRow{
        text-align:center;
      }

      .topRow h1{
        font-size:3em;
        color:#FFF;
        margin-top:50%;
        margin-bottom:30%;
        }

      .topRow p{
        font-size:1.2em;
        color:#FFF;
      }

      #submitForm{
        margin-top:10%;
      }

      .hint{
        background-color:#333;
        color:white;
      }

      .noBorder{
        border:none;
      }


      /******************* 
      * wrap3 
      *******************/

      #footer{
        position:relative;
        right:0;
        bottom:0;
      }

      #footer p{
        margin:0;
      }

      .copyright{
        background-color:#212121;
        line-height:50px;
        color:#C55754;
        text-align:center;
        font-weight:bold;
      }

